<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
	<meta name="robots" content="noindex, nofollow">
	{{ $sass := resources.Get "scss/main.scss" | toCSS }}
	<link rel="stylesheet" href="{{ $sass.RelPermalink }}">

	{{ partial "script-head.html" . }}
</head>
<body>
	{{ partial "header.html" . }}

	<!-- START page-content -->
	<div id="page-content">
		<main class="container">
			<div class="row">
				<div class="col" style="border: 1px solid red;">
					{{ block "main" . }}{{ end }}
				</div>
			</div>
		</main>

	{{ partial "footer.html" . }}
	</div>
	<!-- END page-content -->

	{{ partial "script-footer.html" . }}
</body>
</html>


