{{ define "main" }}
<header class="nd-home">
    <h1>
        <div class="small-h1">Skills for</div> <div>Neurodivergent Students</div>
    </h1>
</header>
<section class="home-page">
	<div class="content-856px-max">
		 <p class="lead">Navigating university as a neurodivergent student comes with unique challenges. This series of workshops features advice and guidance to help you develop important skills that will be essential at university and in the workplace.</p>
		<!-- START YouTube Video -->
		<figure class="video centre">
			<div class="responsive-video"><iframe src="https://www.youtube.com/embed/U5LBp4E-zWU" frameborder="0" allowfullscreen=""></iframe></div>
			<!-- START accordion item -->
			<div class="accordion-item transcript">
				<p class="accordion-header" id="Transcript-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Transcript-collapseTwo" aria-expanded="false" aria-controls="Transcript-collapseTwo">
					Optional transcript
				</button>
				</p>
				<div id="Transcript-collapseTwo" class="accordion-collapse collapse" aria-labelledby="Transcript-headingTwo">
				<div class="accordion-body">
			<p>How do I structure an essay? Essays have three parts: A beginning... A middle... and an end. That is, the introduction, body, and conclusion. It’s important to have structure in your essay, or you will lose the flow of your argument.</p>
			<p>How do I write an essay introduction? Writing an essay introduction can sometimes be quite challenging. It helps to break down your introduction into three important parts: First, start by introducing your topic. Then, state your argument. And finally, outline your main points.</p>
			<p>By doing this, your introduction should start broad and become more specific, focusing in on your essay topic. Basically, you’re letting the reader know what you’re going to discuss throughout the essay. Let’s have a look at this introduction as an example:</p>
					</div>
				</div>
			</div>
			<!-- END accordion item -->
		</figure>
		<!-- END YouTube Video -->
	</div>
	<!-- START break out modules buttons -->
	<h2 class="h1 home-modules-title">Modules</h2>
	<div class="home-modules">
		<!--START module 1 -->
		{{ partial "home-module.html" (dict
			"title" "Start your uni journey"
			"link" "/nd-workshop/start-your-uni-journey"
			"image" "home/ home-mod-1.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 1 -->
		<!--START module 2 -->
		{{ partial "home-module.html" (dict
			"title" "Unlock your learning style"
			"link" "https://www.google.com"
			"image" "home/ home-mod-2.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 2 -->
		 <!--START module 3 -->
		{{ partial "home-module.html" (dict
			"title" "Time management"
			"link" "/nd-workshop/time-management"
			"image" "home/ home-mod-3.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 3 -->
		<!--START module 4 -->
		{{ partial "home-module.html" (dict
			"title" "Master group work"
			"link" "https://www.google.com"
			"image" "home/ home-mod-4.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 4 -->
		<!--START module 5 -->
		{{ partial "home-module.html" (dict
			"title" "Boost your mental health and wellbeing"
			"link" "https://www.google.com"
			"image" "home/ home-mod-5.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 5 -->
		<!--START module 6 -->
		{{ partial "home-module.html" (dict
			"title" "Thrive with assistive tech"
			"link" "https://www.google.com"
			"image" "home/ home-mod-6.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 6 -->
		<!--START module 7 -->
		{{ partial "home-module.html" (dict
			"title" "Advance your research skills"
			"link" "https://www.google.com"
			"image" "home/ home-mod-7.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 7 -->
		<!--START module 8 -->
		{{ partial "home-module.html" (dict
			"title" "Memory and focus"
			"link" "https://www.google.com"
			"image" "home/ home-mod-8.png"
			"inner" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum semper elit."
		) }}
		<!-- END module 8 -->
	</div>
	<!-- END break out modules buttons -->
	<!-- START how it works -->
	<div class="content-856px-max">
		<h2 class="margin-top-xl">How these modules work</h2>
		<p>Everything presented in this module is optional. Feel free to browse and pick out the content and advice that works best for you. </p>
		<ul>
			<li>Any quizzes are not marked or assessed.</li>
			<li>All links are purely optional, you won’t miss anything important if you don’t click on them.</li>
			<li>Feel free to take breaks whenever you feel like it. There are a couple of brain break pages to help with this along the way.</li>
			<li>A dark mode is available under the top right settings menu. Look for the gear icon.</li>
			<li>Some sections feature more detailed, deep dive content hidden in accordions. These are purely optional but may help to provide additional context and explanation.</li>
			<li>Detach instance to adjust image ratio.</li>
			<li>This is a safe space, you can pause, skip or come back later. There’s no wrong way to do this.</li>
			<li>If you feel stressed or overwhelmed at any stage you can access RMIT Counselling and Wellbeing (optional link).</li>
		</ul>
		<!-- START safe space -->
		<div class="safe-space">
			<img src="/nd-workshop/images/safe-space@2x.png" alt="">
			<div class="safe-space-content">
				<p>This is a safe space, you can pause, skip or come back later. There’s no wrong way to do this.</p>
				<p>If you feel stressed or overwhelmed at any stage you can access <a href="https://www.rmit.edu.au/up/student-support/student-wellbeing">RMIT Counselling and Wellbeing (optional link)</a>.</p>
			</div>
		</div>
		<!-- END safe space-->
		<p class="small attribution margin-top-md" id="my-attribution">Images on this page by <a href="https://rmit.edu.au/">RMIT</a>, licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY-NC 4.0</a></p>
	</div>
	<!-- END how it works -->
</section>
{{ end }}

{{ define "title" }}{{ .Site.Title }}{{ end }}